
textarea{
  padding-bottom: 30px;
  padding-right: 20px;
  resize: none;

}
input, textarea, select{
  background-color: rgb(250, 158, 158);
  border: inset 1px;
  border-radius: 15px;
  padding-left: 10px;
}

